In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score as AUC
from sklearn.metrics import mean_absolute_error
from sklearn.decomposition import PCA
from sklearn.preprocessing import label_binarize,LabelBinarizer
from scipy import stats
from copy import deepcopy
from sklearn.model_selection import cross_val_score
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [9]:
test = pd.read_csv("C:\myPython\miniweb\miniwebserver\MLearn_02\docTang\\xgboost\\test.csv")
train = pd.read_csv("C:\myPython\miniweb\miniwebserver\MLearn_02\docTang\\xgboost\\train.csv")
train.shape

(188318, 132)

In [20]:
train.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>cont1</th>
      <th>cont2</th>
      <th>cont3</th>
      <th>cont4</th>
      <th>cont5</th>
      <th>cont6</th>
      <th>cont7</th>
      <th>cont8</th>
      <th>cont9</th>
      <th>cont10</th>
      <th>cont11</th>
      <th>cont12</th>
      <th>cont13</th>
      <th>cont14</th>
      <th>loss</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
      <td>188318.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>294135.982561</td>
      <td>0.493861</td>
      <td>0.507188</td>
      <td>0.498918</td>
      <td>0.491812</td>
      <td>0.487428</td>
      <td>0.490945</td>
      <td>0.484970</td>
      <td>0.486437</td>
      <td>0.485506</td>
      <td>0.498066</td>
      <td>0.493511</td>
      <td>0.493150</td>
      <td>0.493138</td>
      <td>0.495717</td>
      <td>3037.337686</td>
    </tr>
    <tr>
      <th>std</th>
      <td>169336.084867</td>
      <td>0.187640</td>
      <td>0.207202</td>
      <td>0.202105</td>
      <td>0.211292</td>
      <td>0.209027</td>
      <td>0.205273</td>
      <td>0.178450</td>
      <td>0.199370</td>
      <td>0.181660</td>
      <td>0.185877</td>
      <td>0.209737</td>
      <td>0.209427</td>
      <td>0.212777</td>
      <td>0.222488</td>
      <td>2904.086186</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.000016</td>
      <td>0.001149</td>
      <td>0.002634</td>
      <td>0.176921</td>
      <td>0.281143</td>
      <td>0.012683</td>
      <td>0.069503</td>
      <td>0.236880</td>
      <td>0.000080</td>
      <td>0.000000</td>
      <td>0.035321</td>
      <td>0.036232</td>
      <td>0.000228</td>
      <td>0.179722</td>
      <td>0.670000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>147748.250000</td>
      <td>0.346090</td>
      <td>0.358319</td>
      <td>0.336963</td>
      <td>0.327354</td>
      <td>0.281143</td>
      <td>0.336105</td>
      <td>0.350175</td>
      <td>0.312800</td>
      <td>0.358970</td>
      <td>0.364580</td>
      <td>0.310961</td>
      <td>0.311661</td>
      <td>0.315758</td>
      <td>0.294610</td>
      <td>1204.460000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>294539.500000</td>
      <td>0.475784</td>
      <td>0.555782</td>
      <td>0.527991</td>
      <td>0.452887</td>
      <td>0.422268</td>
      <td>0.440945</td>
      <td>0.438285</td>
      <td>0.441060</td>
      <td>0.441450</td>
      <td>0.461190</td>
      <td>0.457203</td>
      <td>0.462286</td>
      <td>0.363547</td>
      <td>0.407403</td>
      <td>2115.570000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>440680.500000</td>
      <td>0.623912</td>
      <td>0.681761</td>
      <td>0.634224</td>
      <td>0.652072</td>
      <td>0.643315</td>
      <td>0.655021</td>
      <td>0.591045</td>
      <td>0.623580</td>
      <td>0.566820</td>
      <td>0.614590</td>
      <td>0.678924</td>
      <td>0.675759</td>
      <td>0.689974</td>
      <td>0.724623</td>
      <td>3864.045000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>587633.000000</td>
      <td>0.984975</td>
      <td>0.862654</td>
      <td>0.944251</td>
      <td>0.954297</td>
      <td>0.983674</td>
      <td>0.997162</td>
      <td>1.000000</td>
      <td>0.980200</td>
      <td>0.995400</td>
      <td>0.994980</td>
      <td>0.998742</td>
      <td>0.998484</td>
      <td>0.988494</td>
      <td>0.844848</td>
      <td>121012.250000</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
pd.isnull(train).values.any()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188318 entries, 0 to 188317
Columns: 132 entries, id to loss
dtypes: float64(15), int64(1), object(116)
memory usage: 189.7+ MB

In [51]:
cat = train.select_dtypes(include=['object']).columns
cat = list(cat)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5']

In [86]:
catCount = []
for catItem in cat:
    catCount.append(len(train[catItem].unique()))

uniq_values_in_categories =pd.DataFrame.from_dict([("Name",cat),("unique_values",catCount)])

In [88]:
# uniq_values_in_categories[uniq_values_in_categories.unique_values < 30].uniq_values_in_categories
uniq_values_in_categories
# 
# plt.plot(uniq_values_in_categories.values[:,0],uniq_values_in_categories.values[:,1])
# plt.show()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Name</td>
      <td>[cat1, cat2, cat3, cat4, cat5, cat6, cat7, cat...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>unique_values</td>
      <td>[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...</td>
    </tr>
  </tbody>
</table>
</div>